/* Global */
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    background: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 24px;
    /* color:#484848; */
    color: black;
    background-color: white;
}

.img{
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
/**** Transtions ****/
a {
    transition: all 0.3s ease-out 0s;
}
.button::after {
    transition: all 0.3s ease-out 0s;
}

input,
select {
    transition: all 0.5s ease-out 0s;
}

a:focus {
    text-decoration: none;
    outline: none;
}
a:focus,
a:hover {
    color: #ff7f00;
    text-decoration: none;
}
a,
button,
input {
    outline: medium none;
    color: #666666;
}

select:focus {
    outline: none;
}

/***************************
  Top bar
****************************/
.header-area{
    z-index: 10;
    position: relative;
}
.topbar {
    left: 0;
    margin: auto;
    position: relative;
    top: 0;
    width: 100%;
    background: rgba(255,255,255,0.99);
    border-bottom:  1px solid #e4e4e4 !important;
}
p.topbar-head {
    text-align: left;
    vertical-align:baseline;
    margin-bottom: 0;
    line-height: 1em;
    padding: 15px 0;
    margin-left: 10px;
}
p.topbar-txt {
    color: #999;
    text-align: right;
    font-size: 12px;
    vertical-align:baseline;
    margin-bottom: 0;
    line-height: 13px;
    padding: 15px 0;
    margin-left: 45px;
}
.topbar img.icon {
    margin: 11px 0 0 0;
    padding: 0;
    width: auto;
    height: 25px;
}

@media (min-width: 992px) {
    #topbar-header .container-fluid .row .col-md-3 {
        width:33.33333333%;
    }
    #topbar-header .container-fluid .row .col-md-2 {
        width:8.33333333%;
    }
}

/***************************
MAIN TOP CONTENT
****************************/
.main-area {
    padding: 0;
    overflow: hidden;
}
.main-col{
    max-width: 572px;
    margin-left: auto;
    margin-right: 6%;
    padding-top: 56px;
    padding-left: 7.5%;
}
.form-wrap {
    background-color: transparent;
    max-width: 405px;
    position: relative;
    z-index: 3;
    padding-left: 3px;
    padding-right: 0;
    padding-top: 8%;
}
a:focus,
a:hover {
    color: #1428a0;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:inherit !important;
    color: #484848;
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}

h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 8px;
}

h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

h6.help-txt {
    margin-left: 4px;
    margin-top: 5px;
    color: #666;
    font-size: 11px;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    color: #666;
    margin-bottom: 15px;
    letter-spacing: 0.2px !important;
}
hr {
    border-bottom: 1px solid #eeeeee;
    border-top: 0 none;
    margin: 25px 0;
    padding: 0;
}

hr.hidden-xs {
    margin-bottom: 45px;
}

*::-moz-selection {
    background: #b4d8fc;
    text-shadow: none;
}
::-moz-selection {
    background: #b4d8fc;
    text-shadow: none;
}
::selection {
    background: #b4d8fc;
    text-shadow: none;
}

.f-left {
    float: left
}
.f-right {
    float: right
}
.fix {
    overflow: hidden
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/***************************
FORM
****************************/

/**** Custom selectbox ****/
.custom-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.custom-select {
    background: rgba(255, 255, 255, 1) url("../images/down-arrow.png") no-repeat scroll 93% center;
    border: 1px solid #d7d7d7;
    height: auto !important;
    margin-bottom: 25px;
    width: 100%;
    border-radius: 0.25rem !important;
}
.custom-select option {
    font-size: 13px;
    padding: 2px 0 0 20px;
}
select {
    background:#fff;
    border: 1px solid #d7d7d7;
    color: #666;
    font-size: 15px;
    height: 42px;
    padding-left: 20px;
    outline: none;
}

/**** Labels & placeholders ****/
label {
    color: #484848;
    font-size: 17px;
    font-weight: 300;
    display: block;
    margin-bottom: 0;
    letter-spacing: 0.2px !important;
}

::-webkit-input-placeholder { color: #888; }/* Webkit */
:-moz-placeholder { color: #888; }/* Firefox 4-18 */
::-moz-placeholder { color: #888; }/* Firefox 19+ */
:-ms-input-placeholder { color: #888; }/* IE10+ */
::-moz-placeholder {
    color: #888;
    font-size: 13px;
}

/**** Generel ****/
.form-wrap.row.col-sm-6 {
    padding:0px;
}
img.help {
    z-index: 3;
    width: 64px;
    height: auto;
    margin: 0 0 0 1.8%;
}
img.cards {
    display: block;
    max-height: 28px;
    width: auto;
    margin: 0 0 0 auto;
}
img.secure {
    height:auto;
    width: 321px;
    max-width:70%;
    margin: 0 auto;
    display: block;
}
i {
    border: none !important;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

/**** Buttons ****/
.button {
    background: #41030c;
    border: 0 none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 20px 25px !important;
    text-align: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-transform: none;
    border-radius: 4px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}
.button::after {
    background: black;
    content: "";
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    display: none;;
}
.button:hover{
    background: black;
    cursor: pointer;
}

button {
    border: medium none;
    font-family: inherit;
    white-space: nowrap;
}

.button:focus {
    outline: none;
}

a.button-denied {
    max-width: 280px;
    margin-top: 25px;
    text-align: center;
}
a.button-denied:hover {
    color: #FFF;
    cursor: pointer;
}

.button:disabled {
    background: rgba(94, 180, 42, .5);
    cursor: initial;
}

/**** Input fields ****/
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select.form-control{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    color: #666;
    font-size: 14px;
    height: auto;
    margin-bottom: 10px;
    padding: 0.9285714286em 0.7857142857em;
    width: 100%;
    text-transform: none;
}
input[type=radio]{
    border-color: #41030c;
    accent-color:#41030c ;
}
.input-icon {
    position: relative;
    color: #eee;
    font-size: 18px;
}

.input-icon .fa-lock {
    position: absolute;
    top: 12px;
    right: 12px;
}
.fa-question-circle, .fa-lock{
    font-size: 14px !important;
    color: #545454 !important;
    position:absolute;right:10px;top:15px;
}

.fa-question-circle .tooltiptext{
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    line-height: 15px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -90px;
    font-weight: normal;
    font-size: 12px;
    padding: 10px;
}
.fa-question-circle:hover .tooltiptext {
    visibility: visible;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

option {
    background: #ffffff none repeat scroll 0 0;
    border: 0 solid #626262;
    font-size: 13px;
    padding-left: 10px;
}

/***************************
ERROR STYLING
****************************/
.qtip-custom {
    background-color:#ea3e33;
    border-color:#ea3e33;
    color:#fff;
}
input[type="text"].error, input[type="email"].error, select.error {
    color: #ea3e33 ;
    background-color: #FFBABA;
    background-color:rgba(247, 91, 91, 0.04);
    border:1px solid #ea3e33;
    -webkit-text-fill-color: red;
    -webkit-text-fill-color: #ea3e33 !important;
    box-shadow: 0 0 0px 1000px rgba(247, 91, 91, 0.04) inset;
}

/***************************
SIDE BOX
****************************/
.side{
    background: #fafafa;
    -webkit-box-shadow: 1px 0 0 #e1e1e1 inset;
    box-shadow: 1px 0 0 #e1e1e1 inset;
    padding-top: 56px;
    padding-right: 5%;
}
.box {
    margin: 0;
    padding: 0;
    margin-left: 4%;
    max-width: 418px;
    border:none !important;
    background: transparent;
}

.box img.top {
    margin: 0;
    padding: 0;
    width: auto;
    border-radius: 8px !important;
}

.box .inner {
    padding: 0 15px 20px;
}
.box p.terms {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
}
.box p.terms:last-of-type {
    margin-bottom: 0;
}
.box h4.total {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 0;
}
.box h4.total.t-title{
    font-size: 16px;
    color: #323232;
}
.total-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box h4.total.small{
    font-size: 12px;
    color: #717171;
}
.box p.call {
    margin-bottom: 0;
}

.box p.call span {
    text-transform: uppercase;
}


/***************************
SUBPAGES - DENIED + APPROVED
****************************/
p.sub {
    font-size: 17px;
    line-height: 22px;
}

/***************************
FOOTER!
****************************/
.wrapper {
    min-height: 100%;
    position: relative;
}
.wrapper:after {
    content: "";
    display: none;
}
.footer, .wrapper:after {
    height: 40px;
}
.footer {
    margin: 0 auto;
    padding: 5px;
    font-size: 12px;
    color: #333;
    text-align: center;
}
.footer p {
    margin: 0 auto;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

.footer p:last-child {
    margin-bottom: 15px;
}

/***************************
BELOW IS ONLY USED FOR MOBILE
****************************/
.visible-xs {
    display: none;
}

.visible-xs h4.total {
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 0;
}

.visible-xs .img-mobile {
    max-width: 100%;
    margin-top: 7%;
    margin-bottom: calc(7% + 10px);
    border: 1px solid #eee;
}
.visible-xs p.terms {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
}
.visible-xs p.terms:last-of-type {
    margin-bottom: 10px;
}

input[type="checkbox"] {
    padding: 0;
    box-sizing: content-box;
    cursor: pointer;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    border: 4px solid #fff;
    outline: 1px solid #666;
    background-color: #fff;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 5px;
    width: 5px;
    display: block;
    overflow: visible;
    transition: none;
}

input[type="checkbox"]:not(:checked) {
    border: 4px solid #ffffff;
    outline: 1px solid #666;
    background-color: #fff;
}

input[type="checkbox"]:checked {
    border: 4px solid #fff;
    outline: 1px solid #4a9a05;
    background-color: #4a9a05;
}

/*-----------------
Parsley form validation
-----------------------*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #FF5A5F;
    background-color: #FFBABA;
    background-color:rgba(247, 91, 91, 0.04);
    border: 1px solid #FF5A5F;
    -webkit-text-fill-color: red;
    -webkit-text-fill-color: #FF5A5F !important;
    box-shadow: 0 0 0px 1000px rgba(247, 91, 91, 0.04) inset;
}



input[type="checkbox"].parsley-success, input[type="checkbox"]:checked {
    border: 4px solid #fff;
    outline: 1px solid #41030c;
    background-color: #41030c;
}

input[type="checkbox"].parsley-error {
    color: #FF5A5F;
    border: 4px solid #fff;
    outline: 1px solid #FF5A5F;
    background-color: #FF5A5F;
}

/*---------------------------
Credit card warning message styles
-------------------------------*/

#warning-modal{
    position:fixed;
    z-index:1000;
    top:20%;
    left:0;
    width:100%;
    height:100%;
    text-align: center;
}

.warning-modal-inner{
    background-color:#fff;
    color:#000;
    width:450px;
    margin: 0 auto;
    padding:30px;
    border: 1px solid #ffe078;
}

.cross-sale-show {
    display: none;
}

.cross-sale-show.cross-sale-active {
    display: block;
}

.approved-content h5,
.approved-content p {
    color: #262626;
}

.approved-content .descriptorInfo {
    text-transform: uppercase;
}

.check-icon {
    margin: 0 auto 15px auto;
    height: 30px;
}

.success-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.modal.open {
    display: block;
    background-color: rgba(0,0,0,.4);
    padding-right: 15px;
    opacity: 1;
}

.modal.open .modal-dialog {
    top: 40%;
    transform: translateY(-40%);
}

.modal-header {
    padding: 2rem 2rem 1rem 2rem;
    border-bottom: none;
}

.modal-title {
    color: #FF0000;
    font-weight: 700;
}

.modal-body {
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
}

.modal-close:focus {
    outline: none;
}

.modal-button {
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #e5f1f8;
    padding: 5px 10px;
    align-self: flex-start;
    border-radius: 6px;
    color: #262626;
    cursor: pointer;
}

.hide-text {
    display: none;
}

.show-text {
    display: block;
}

/* loader CSS */

.loader-wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.loader-wrapper.show {
    display: flex;
}

.loader-container {
    position: relative;
    width: 100%;
}

.loader-wrapper.show-initial {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
}

.loader {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .4rem solid rgba(151, 159, 208, .35);
    border-top-color: #979fd0;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    margin: auto;
}

.loader-text {
    margin-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0;
}

#dataCollectionForm,
#stepUpForm {
    display: none;
}

.terms-label {
    font-size: 13px;
    line-height: 1.5;
    display: inline;
    margin-left: 5px;
    cursor: pointer;
    display: block;
    padding-left: 20px;
}
.terms-label input{
    margin-left: -20px;
}
.terms-link:hover {
    cursor: pointer;
}

.banner-link {
    display: block;
    cursor: pointer;
}

.banner-image {
    display: block;
    max-width: 100%;
}

@-webkit-keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 992px) {
    .box p.call span {
        font-size: 12px;
    }

    .hidden-md {
        display: none;
    }

    hr {
        margin: 20px 0;
    }
}


@media (max-width: 768px) {

    hr {
        margin: 15px 0;
    }
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none;
    }
    .visible-xs {
        display: block;
    }
    h2 {
        font-size: 23px;
    }
}


@media (max-width: 460px) {
    .topbar img.icon {
        height: 17px;
    }

    p.topbar-head {
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    h2 {
        font-size: 22px;
    }
    .box h4.total {
        font-size: 16px;
        margin: 10px 0;
    }
}

.progress {
    position: relative;
    height: 10px;
    width: 90%;
    border-radius: 15px;
}

.progress .color {
    position: absolute;
    background-color: #1ba846;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    -webkit-animation: progress 10s infinite linear;
            animation: progress 10s infinite linear;
}

@-webkit-keyframes progress {
    0% {
      width: 0%;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width: 100%;
    }
}

@keyframes progress {
    0% {
      width: 0%;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width: 100%;
    }
}

/***************************
BANNERS - CAMPAIGNS!
****************************/

.banner-title {
    margin: 30px 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 25px;
    border-top: 1px solid #e4e4e4 !important;
    padding-top: 25px;
}

.banner-section-title {
    font-weight: 700;
}

.banner-subtitle {
    font-style: italic;
    margin-bottom: 15px;
}
.banner-content {
    margin-top: 0;
}
.banner-content p {
    margin-top: 0;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 20px;
    font-size: 15px;
}
.banner-content .banner1,
.banner-content .banner2,
.banner-content .banner3,
.banner-content .banner4,
.banner-content .banner5 {
    height: auto;
    width: 100%;
    text-align: right;
    line-height: 1em;
    vertical-align: baseline;
    margin-bottom: .5em;
    display: table;
    margin: 0px;
    display: inline-block;
    position: relative;
}
.banner-content img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.banner-content .banner1 div,
.banner-content .banner2 div,
.banner-content .banner3 div,
.banner-content .banner4 div,
.banner-content .banner5 div {
    position: absolute;
    bottom: 33%;
    right: 25px;
    color: #000;
    background-color: yellow;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    transition: none;
    padding: .65em;
    font-size: 1.2em;
    line-height: 1em;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 4px;
}
.banner-content .banner1 div:hover,
.banner-content .banner2 div:hover,
.banner-content .banner3 div:hover,
.banner-content .banner4 div:hover,
.banner-content .banner5 div:hover {
    box-shadow: 0 3px rgba(0, 0, 0, 0.3);
    bottom: 31%;
}
.banner-content .banner1 div span,
.banner-content .banner2 div span,
.banner-content .banner3 div span,
.banner-content .banner4 div span,
.banner-content .banner5 div span {
    font-size: 80%;
    padding-left: .5em;
    line-height: 1em;
}

.banner-content .banner1 .banner-btn-il,
.banner-content .banner2 .banner-btn-il,
.banner-content .banner3 .banner-btn-il,
.banner-content .banner4 .banner-btn-il,
.banner-content .banner5 .banner-btn-il {
    left: 25px;
    right: unset;
}

@media screen and (max-width: 640px){
    p {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px;
    }

    .banner-content .banner1 div,
    .banner-content .banner2 div,
    .banner-content .banner3 div,
    .banner-content .banner4 div,
    .banner-content .banner5 div {
        font-size: 0.85em;
    }
}



/* GEO Specific CSS */

/* Arabic Layout */

html[lang="ar"] .f-left {
    float: right;
}

.content-ar div.wrapper > header img {
    float: right !important;
    margin-left: 11px;
}

.content-ar .topbar p.topbar-head {
    float: right;
}

.content-ar .header-area .domainName {
    float: left;
}

.content-ar .main-area h1::after {
    display: block;
    text-align: right;
    content: "برجاء إدخال تفاصيل الدفع الخاصة بك المسجلة على بطاقتك";
    font-size: .9rem;
    margin-top: .5rem;
}

.content-ar #payment-form .custom-select {
    background: rgba(255, 255, 255, 1) url("../images/down-arrow.png") no-repeat scroll 7% center !important;   
}

.content-ar .input-icon .fa-lock {
    right: 90%;
}

.content-ar .wrapper .main-area .clearfix {
    display: flex;
    flex-wrap:wrap;
}
  
.content-ar .wrapper .main-area .clearfix > h4 {
    flex: 1 1 40%;
    text-align: right;
}
  
.content-ar .wrapper .main-area .clearfix > h4:nth-child(2) {
    text-align: left;
}
  
@media only screen and (max-device-width: 500px) {
    .content-ar .wrapper .main-area .clearfix > h4 {
        flex: 1 1 100%;
    }
}

@media (max-width: 767px) {
    .content-ar .main-area h1 {
        display: block !important;
    }
}

.content-ar #payment-form img.help {
    width: auto;
    height: 38px;
}

/*  currency css */
span.displayPrice sup {
    font-size: 100%;
    top: 0;
}

span.domainName {
    text-transform: uppercase;
}

.custom-modal-btn {
    width: 100%;
    white-space: inherit;
}

/* responsive */
@media screen and (max-width: 425px) {
    .custom-modal-btn {
        font-size: 0.875rem;
        line-height: 1.25;
    }
}

.legal-checkbox-checked {
    border: 4px solid #fff;
    outline: 1px solid #4a9a05;
    background-color: #4a9a05;
}

#signup-button,
#payment-button { 
    display: inline-block !important;
    width: auto !important;
    padding-left: 30px;
    padding-right: 30px;
}
#payment-button { 
    min-width: 240px !important;
    text-transform: uppercase;
    font-weight: 700;
}
span.submit-btn-text:after {
    content: "\f25a";
    font-family: "Font Awesome 5 Free";
    margin-left: 10px;
}
#terms-checkbox{
    margin: 20px 0;
}
.form-header{
    border: 1px solid #e4e4e4;
    border-radius: .25rem .25rem 0 0;
    border-bottom: none;
    padding: 12px 16px;
    display: flex;
    align-items: center;
}
.form-header b{
    font-weight: 500;
    font-size: 14px;;
}
#payment-form fieldset{
    padding: 16px;
}

#payment-form fieldset{
    background-color: #fafafa;
    border: 1px solid #e4e4e4 !important;
    border-radius: 0 0 .25rem .25rem;
}
#payment-form fieldset label{
    display: none;
}
.header-card {
    margin-bottom: .25rem;
    font-size: .9rem;
}

legend,
h2.like-legend {
    font-weight: normal;
    color: #333333;
    font-size: 18px;
    line-height:23.4px
}

.form-seprator {
    margin: 0 0 35px;
}

#time-wrapper {
    display: block;
    background: #fff5d2;
    padding: 10px 20px;
    border: 1px solid #fac444;
    font-size: 14px;
    color: #2c2c2c;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px 0px 20px 0px
}

#time-wrapper span {
    font-size: 16px;
    font-weight: 700;
}

.timer-fire {
    width: 24px;
    height: auto;
    flex-shrink: 0;
    margin-bottom: 5px;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.timer-fire svg {
    width: 100%;
    height: auto;
    position: relative;
}

.form-row, .form-group{
    margin-bottom: 0;
}
.form-control{
    margin-bottom: 10px;
}
.about-section {
    display: flex;
    border-bottom: 1px solid #eaeaea;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.about-section .about-img {
    margin-right: 15px;
    flex-shrink: 0;
    text-align: center;
    margin-top: -5px;
}

.about-section .about-img img {
    max-width: 38px;
}

.about-section p {
    color: #D3D3D3;
    font-size: 12px
}

.about-section p .sub-header {
    color: black;
    font-size: 13px;
    font-weight: 700
}

form label,
.terms span,
h6.help-txt {
    color: #8F8F8F;
}

form label {
    font-size: 14px;
}

.terms-label,
.terms-label a,
.legal-fees-label,
.legal-fees-label a {
    color: #000;
}

.terms-label a,
.legal-fees-label a {
    font-weight: 700;
}

.box hr {
    margin: 18px 0;
}
.top.campaign-image-{
    border:1px solid #e4e4e4;
    width: auto;
    height: 4.6em;
    border-radius: 8px;
    background: #fff;
    position: relative;
}
.campaign-image-separator {
    margin: 20px 15px !important;
}

.box .content-container {
    position: relative;
}

.box .content-container .item-qty {
    position: absolute;
    right: -10.5px;
    top: -10.5px;;
    background-color:rgba(114,114,114,0.9);
    border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
    color: white;
    height: 21px;
    width: 21px;
    text-align: center;
    font-size: 0.8571428571em;
    font-weight: 500;
    line-height: 1;
    z-index: 2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prefilled {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    padding: 12px 16px;
    border-radius: 0.25rem;
}
.detail {
    display: flex;
    align-items: center;
    text-align: left;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 10px;
    position: relative;
}
.detail:first-child {
    border: none;
    margin-top: 0;
    padding-top: 0;
}
.detail label {
    color: #666;
    flex: 0 0 85px;
    max-width: 85px;
}
.detail p {
    flex: 0 0 calc(85% - 85px);
    max-width: calc(85% - 85px);
    margin: 0;
    color: #222;
}
.detail label,
.detail p {
    font-size: 15px !important;
    font-weight: normal !important;
}
.detail a {
    flex: 0 0 10%;
    max-width: 10%;
    margin: 0;
    color: #41030c !important;
    font-size: 12px !important;
    text-align: right;
    margin-left: auto;
}
.detail a:hover {
    text-decoration: none;
}
#prefill-ship{
    justify-content: start;
}
input#free-shipping{
    margin-right: 15px;
}
.detail a.nolink {
    text-decoration: none !important;
    font-size: 14px !important;
    font-weight: 500;
    margin-left: auto;
}
.proceed-payment {
    width: auto !important;
    padding-left: 30px;
    padding-right: 30px;
}
.back-link {
    font-size: 14px !important;
    margin-left: 10px;
    font-weight: normal !important;
    color:#41030c !important;
    display: inline-block;
    margin-top: 20px;
}
p .back-link {
    margin-top: 10px !important;
    margin-left: 0 !important;
}
.back-link:hover {
    text-decoration: none;
}
.total-box h4.total.f-right {
    font-size: 30px;
}
.total-box h4.total.f-right .displayPrice {
    display: flex;
    align-items: flex-start;
}
.total-box h4.total.f-right .displayPrice span{
    font-size: 14px;
    margin-top: 4px;
    margin-right: 2px;
}

.total-box h4.total.f-right .displayPrice span.price-container{
    font-size: 30px;
    margin: 0;
}
.displayPrice{
    font-weight: 500;
    color: #323232;
}
.price-container{
    margin-right: 2px;
}
@media (min-width: 992px){
    .box{
        display: block !important;
    }
}
@media (max-width: 991px) {
    p.topbar-txt {
        text-align: right;
        font-size: 11px;
        line-height: 12px;
    }
    .flow-sm-reversed{
        flex-direction: column-reverse;
    }
    .main-col{
        padding: 20px 15px;
        margin: 0 auto;
    }
    .side,
    .outer{
        box-shadow:0 -1px  0 #e1e1e1 inset;
        padding: 0 15px;
        margin: 0 auto;
    }
    .box,
    .outer-heading{
        margin: 0 auto;
        max-width: 572px;
        line-height: 1;
    }
    .box{
        display: none;
    }
    .outer-heading{
        padding: 18px 0;
        font-size: 14px;
        color: #41030c;
    }
    .outer svg{
        color:#41030c;
        margin-right: 10px;
        flex-shrink: 0;
    }
    
    .outer-price .displayPrice{
        font-size: 18px;
        font-weight: 500;
    }

}
@media (max-width: 575px) {
    .detail:not(#prefill-ship){
        flex-direction: column;
        align-items: flex-start;
    }
    .detail a{
        position: absolute;
        right: 0;
        max-width: initial;
    }
    .detail label{
        flex: 0 0 auto;
    }
    label{
        margin-bottom: 5px;
    }
    .prefilled{
        padding: 16px;
    }
    .form-header{
        flex-direction: column;
        align-items: flex-start;
    }
    img.cards{
        margin: 0;
    }
}
.summary-info-show {
    display: block;
}
.summary-info-hide {
    display: none;
}
.show-summary {
    display: block;
}
.hide-summary {
    display: none;
}